html {
    background: url(img/Background.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 25px 100px;
    margin: 100px auto;
    width: 300px;
}

input {
    width: 285px;
    height: 30px;
}

img {
    height: 150px;
    width: 150px;
    padding-top: 30px;
}

span {
    color: blue;
}

.pHeading {
    margin-bottom: 5px;
    font-weight: bold;
}


